*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    color: #ffffff;
}
p{
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 80px;
}
.box{
    max-width: 1680px;
    margin: 0 auto;
}
.first{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(./images/hero-background.webp);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1980px;
    min-height: 100vh;
}
.logo{
    max-width: 258px;
    max-height: 32px;
}
header{
    padding: 40px 10px 0 10px;
    justify-content: space-between;
    height: 80px;
}
a {
    text-decoration: none;
}
.header_button{
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    padding: 8px 12px;
    border-radius: 8px;
}
.button{
    padding: 8px 56px;
    border: 1px solid #FFFFFF;
    background-color: #A24DE8;
    border-radius: 100px;
    text-align: center;
    font-weight: 500;
    font-size: 56px;
    line-height: 80px;
    text-transform: lowercase;
    transition: all 0.3s ease;
    max-width: 460px;
}
.button:hover{
    background-color: #6f359f;
}
.login{
    background-color: #FFFFFF;
    color: #140E17;
}
.first_content{
    max-width: 46%;
    margin-left: 97px;
    margin-top: 200px;
}
h2{
    font-size: 80px;
    line-height: 80px;
}
h2.first_title{
    font-size: 100px;
    line-height: 100px;
    margin-bottom: 25px;
}
.flex_row{
    display: flex;
}
.flex_column{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.new_nft_part{
    justify-content: space-between;
    padding-top:  320px;
}
.nft_content{
    max-width: 830px;
    margin-left: 20px;
}
.nft_content h2{
    margin-bottom: 32px;
}
.all_content{
    background-color:#140E17 ;
}
.img{
    background: url(./images/img-group.webp);
    background-size:contain;
    background-repeat: no-repeat;
    width: 860px;
    height: 800px;
    margin-top: 80px;
    margin-right: 20px;
}
.card{
    margin-top: 80px;
    width: 550px;
    height: 730px;
    padding:26% 25px 0 25px;
}
#card_1{
    background:url(./images/img-1.webp);
    background-repeat:no-repeat;
    background-size:contain;
    margin-right: 20px;
}
#card_2{
    background:url(./images/img-2.webp);
    background-repeat:no-repeat;
    background-size:contain;
    margin-right: 20px;
    margin-left: 20px;
}
#card_3{
    background:url(./images/img-3.webp);
    background-repeat:no-repeat;
    background-size:contain;
    margin-left: 20px;
}
.wrapper{
    margin-top: 320px;
    margin-bottom: 320px;
}
.card h2{
    font-size: 56px;
    line-height: 50px;
    margin-bottom: 20px;
}
.book_demo{
    height: 790px;
    background:url(./images/background-book-a-demo.svg);
    align-items: center;
    text-align: center;
    padding-top: 200px;
    margin-bottom: 320px;
}
.book_demo h2{
    margin-bottom: 40px;
}
.trusted_img{
    margin-top: 80px;
    background:url(./images/trusted-by.svg);
    background-size:contain;
    background-repeat: no-repeat;
    height: 900px;
    max-width: 100%;
}
.slide_item{
    max-width: 840px;
    background-color:#241c28;
    height: 100%;
    border-radius:25px;
    padding: 40px;
    margin-top: 80px;
}
.slide_logo{
    background-color:#140E17;
    background-size:contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content:center;
    width: 100px;
    height: 100px;
    border-radius:50%;
    margin-right: 27px;
}
.logo_img{
    background:url(./images/wow.webp);
    background-size:contain;
    background-repeat: no-repeat;
    width:75px;
    height: 75px;
}
.slide_field{
    align-items:center;
}
.slide_content{
    display: flex;
    justify-content: left;
    align-items:center;
}
h5{
    font-size: 28px;
}
.text p{
    margin-bottom: 60px;
}
.img_circl{
    background:url(./images/footer-logo.svg);
    width: 90px;
    height: 90px;
    margin-bottom: 80px;
}
.about_us{
    margin-bottom:80px;
}
.footer_link{
    margin-bottom: 40px;
    font-size: 25px;
}
.line{
    border-top: 1px solid rgb(255, 255, 255);
    padding-top: 80px;
}
.footer_adres{
    margin-bottom: 180px;
}
.follow{
    margin-bottom: 60px;
}
.logoA{
    background:url(./images/inst.svg);
    width: 48px;
    height: 48px;
    margin-right: 30px;
}
.logoB{
    background:url(./images/facebook.svg);
    width: 48px;
    height: 48px;
    margin-right: 30px;
}
.logoC{
    background:url(./images/LinkedIn.svg);
    width: 48px;
    height: 48px;
}